<?xml version="1.0"?>

<model>
  <name>Box Pinned to World</name>
  <version>1.0</version>
  <sdf>box_pinned_to_world.sdf</sdf>

  <author>
    <name>John Doe</name>
    <email>user@host.com</email>
  </author>

  <description>
    A box that is pinned to the world via a fixed floating joint.
  </description>
</model>
